
    @import "../define";
#system {
    margin-bottom: 40px;
    border: 1px solid $borderColor;
    background-color: $colorWhite;
    color: $colorBlack;
    #change-pwd {
        margin-top: 40px;
        text-align: center;
        .row {
            margin-bottom: 10px;
            span {
                font-size: 1.4rem;
            }
            input {
                width: 235px;
                height: 35px;
                padding-left: 10px;
                border: 1px solid $borderColor;
            }
            a {
                padding: 5px 30px;
                font-size: 1.5rem;
                color: $colorWhite;
                background-color: $colorBlue;
                border-radius: 5px;
            }
            &:nth-child(3) {
                span {
                    margin-left: -1.1rem;
                }
            }
        }
    }
}

.kh-tips {
    width: 700px;
    height: 410px;
    margin-top: -10%;
    background-color: $colorWhite;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
    .title {
        position: relative;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px dotted $borderColor;
        span {
            padding: 13px 0;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 1.5px;
            color: $colorBlue;
            border-bottom: 1px solid $colorBlue;
        }
        a {
            position: absolute;
            top: 15px;
            right: 10px;
            font-size: 2rem;
            color: $disableColor;
        }
    }
    .triangle {
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid $colorBlue;
    }
    .content {
        width: 84%;
        margin: 0 auto;
        .section {
            &.first {
                margin: 20px 0;
                text-align: center;
                span {
                    display: block;
                    &:first-child {
                        font-size: 1.8rem;
                        color: $numberColor;
                    }
                    &:last-child {
                        margin-top: 10px;
                        font-size: 1.4rem;
                        color: $tipsColor;
                    }
                }
            }
            &.second {
                .row {
                    margin-bottom: 10px;
                    em {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background-color: $colorBlue;
                    }
                    span {
                        font-size: 1.4rem;
                    }
                }
            }
            &.third {
                span {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 1.4rem;
                    color: $tipsColor;
                    em {
                        color: $colorBlack;
                    }
                }
            }
        }
    }
    .btns {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        a {
            width: 150px;
            padding: 5px 0;
            font-size: 1.6rem;
            color: $colorWhite;
            background-color: $numberColor;
        }
    }
}
