@import "../define";

#point {
    color: $colorBlack;
    .first.section {
        margin-top: 20px;
        border: 1px solid $borderColor;
        background-color: $colorWhite;
        margin-bottom: 10px;
        .list {
            .head {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                margin: 0 5px;
                border-bottom: 1px dotted $borderColor;
                p {
                    margin: 0;
                    font-size: 1.4rem;
                    color: $colorBlue;
                    text-align: center;
                    &:nth-child(1), &:nth-child(2) {
                        width: 18%;
                    }
                    &:nth-child(4) {
                        width: 15%;
                    }
                    &:nth-child(3), &:nth-child(5) {
                        width: 29%;
                    }
                }
            }
            .content {
                min-height: 48px;
                .item {
                    display: flex;
                    min-height: 48px;
                    padding: 5px 0;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid $borderColor;
                    p {
                        margin: 0;
                        font-size: 1.4rem;
                        text-align: center;
                        &:nth-child(1), &:nth-child(2) {
                            width: 18%;
                        }
                        &:nth-child(4) {
                            width: 15%;
                        }
                        &:nth-child(3), &:nth-child(5) {
                            width: 29%;
                        }
                        &:nth-child(3) {
                            padding-left: 15px;
                            box-sizing: border-box;
                        }
                    }
                    .number {
                        color: $numberColor;
                    }
                    &:nth-child(even) {
                        background-color: $titleColor;
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
    .second.section {
        float: left;
        width: 100%;
        margin: 0 0 20px 0;
    }
}
